
<div class="call_order container">
    <div class="call_content">
        <div class="h2 text-center">Остались вопросы или желаете записаться на бесплатный замер?</div>
        <div class="descr text-center">Оставьте Ваши контактные данные, и мы свяжемся с вами в указанное время.
        </div>
        <form class="jsonform" action="/orders/call-order/" method="post">
            <input type="hidden" name="posting" value="1">
            <input type="hidden" name="partial" value="1">

            <div id="nc_moderate_form">
                <input name="admin_mode" type="hidden" value="">
                <input name="catalogue" type="hidden" value="1">
                <input name="cc" type="hidden" value="12">
                <input name="sub" type="hidden" value="26">
                <input name="posting" type="hidden" value="1">
                <input name="curPos" type="hidden" value="0">
                <input name="f_Parent_Message_ID" type="hidden" value="">
                <input type="hidden" name="f_Checked" value="1">
            </div>

            <div class="row">
                <div class="col-12 col-md-4 namecol">
                    <input class="field name" type="text" name="f_PersonName" value="" placeholder="Ваше имя">
                </div>
                <div class="col-12 col-md-4 daytime">
                    <div class="day jsDropdown">
                            <span class="field select"><span class="val">сегодня</span><i
                                    class="icon_downarr"></i></span>

                        <div class="options">
                            <span class="option">сегодня</span>
                            <span class="option">завтра</span>
                            <span class="option">послезавтра</span>
                        </div>
                    </div>
                    <span class="and">в</span>

                    <div class="time jsDropdown">
                        <span class="field select"><span class="val">07:00</span><i class="icon_downarr"></i></span>

                        <div class="options">
                            <span class="option">17:30</span>
                            <span class="option">18:00</span>
                            <span class="option">19:00</span>
                            <span class="option">20:00</span>
                            <span class="option">21:00</span>
                            <span class="option">22:00</span>
                            <span class="option">23:00</span>
                            <span class="option">24:00</span>
                            <span class="option">25:00</span>                            </div>
                    </div>

                </div>
                <div class="col-12 col-md-4 phonecol">
                    <input class="field jsPhoneMask" type="text" name="f_PersonPhone" value="">
                </div>
            </div>
            <div class="submit">
                <button class="btn btn-primary">Заказать звонок</button>
            </div>
        </form>
    </div>
</div>
