<footer class="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-10 col-xl-3 col-md-5 col-lg-5 col-sm-10 d-flex flex-column flex-md-row flex-lg-row flex-xl-column align-items-md-center align-items-xl-start">
                <div class="logo">
                    <a href="#" class="logo-link">
                        <span class="color4">Vamsks</span>
                    </a>
                </div>
                <div class="logo-desc ml-lg-3 ml-md-3 ml-xl-0 ">
                    <span class="color4 font14">
                        Монтаж и обслуживание<br>
                        компьютерных сетей
                    </span>
                </div>
            </div>
            <ul class="col-xl-4 flex-wrap p-0 d-none d-xl-flex">
                <li class="w-50 font14"><a href="#" class="menu-nav-item-link color4"><span>Главная</span></a> </li>
                <li class="w-50 font14"><a href="#" class="menu-nav-item-link color4"><span>Калькулятор</span></a> </li>
                <li class="w-50 font14"><a href="#" class="menu-nav-item-link color4"><span>О компании</span></a> </li>
                <li class="w-50 font14"><a href="#" class="menu-nav-item-link color4"><span>Акции и предложения</span></a>
                <li class="w-50 font14"><a href="#" class="menu-nav-item-link color4"><span>Услуги</span></a> </li>
                </li>
                <li class="w-50 font14"><a href="#" class="menu-nav-item-link color4"><span>Контакты</span></a> </li>
            </ul>
            <div class="col-xl-3 flex-xl-column justify-content-around d-none d-xl-flex">
                <div class="d-flex">
                    <i class="fas fa-map-marker-alt mr-3 color3"></i>
                    <a href="#" class="font14 color4">
                        <span>
                            г. Москва, ул. Кусковская,20А, оф. 239
                        </span>
                    </a>
                </div>
                <div>
                    <i class="fas fa-map-marker-alt mr-3 color3"></i>
                    <a href="#" class="font14 color4">
                        <span>
                            info@sks.ru
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-2 flex-xl-column justify-content-between align-items-end d-none d-xl-flex">
                <div class="ml-auto mr-4">
                    <a href="#" class="font14 color4">
                        <i class="fas fa-phone mr-2 color3"></i> <span>
                            8 495 142 2868
                        </span>
                    </a>
                </div>
                <button class="btn footer-callback font14">
                    Заказать звонок
                </button>
            </div>
            <div class="menu-toggle d-flex col-2 col-sm-2 col-md-1 col-lg-1 d-xl-none align-items-center">
                    <button class="menu-toggle btn"> <i class="fas fa-bars color4"></i></button>
                </div>
        </div>
    </div>
</footer>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script> -->