<header class="header ">
    <div class="container">
        <div class="row align-items-center ">

            <div class="col-10 col-xl-3 col-md-5 col-lg-5 col-sm-10 d-flex flex-xl-column align-items-center align-items-xl-start">
                <div class="logo">
                    <a href="./index.html" class="logo-link">
                        <span>Vamsks</span>
                    </a>
                </div>
                <div class="logo-desc ml-lg-3 ml-md-3 ml-xl-0 d-none d-md-block">
                    <span >Монтаж и обслуживание<br>
                        компьютерных сетей
                    </span>
                </div>
            </div>

            <div class="menu col-xl-9 d-none d-xl-flex flex-column justify-content-center">
                <div class="menu-info d-flex">
                    <div class="mr-5">
                        <a href="#" class="font14 color1">
                            <i class="fas fa-map-marker-alt mr-2 color3"></i> <span>
                                г. Москва, ул. Кусковская, 20А, оф. 239
                            </span>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="font14 color1">
                            <i class="fas fa-map-marker-alt mr-2 color3"></i> <span>
                                info@sks.ru
                            </span>
                        </a>
                    </div>
                    <div class="ml-auto mr-4">
                        <a href="#" class="font14 color1">
                            <i class="fas fa-phone mr-2 color3"></i> <span>
                                8 495 142 2868
                            </span>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="font14">
                            Заказать звонок
                            </span>
                        </a>
                    </div>
                </div>
                <ul class="menu-nav d-flex">
                    <li class="menu-nav-item"><a href="./index.html" class="menu-nav-item-link"><span>Главная</span></a> </li>
                    <li class="menu-nav-item"><a href="#" class="menu-nav-item-link"><span>Услуги</span></a> </li>
                    <li class="menu-nav-item"><a href="#" class="menu-nav-item-link"><span>Калькулятор</span></a> </li>
                    <li class="menu-nav-item"><a href="#" class="menu-nav-item-link"><span>Отзывы</span></a> </li>
                    <li class="menu-nav-item"><a href="./acii.html" class="menu-nav-item-link"><span>Акции и предложения</span></a>
                    <li class="menu-nav-item"><a href="#" class="menu-nav-item-link"><span>О компании</span></a> </li>
                    </li>
                    <li class="menu-nav-item"><a href="./contact.html" class="menu-nav-item-link"><span>Контакты</span></a> </li>
                    <!-- <li class="menu-nav-item"><a href="#" class="menu-nav-item-link d-flex"><i class="fas fa-map-marker-alt mr-2 color3"></i><span></span>
                            Личный кабинет</span></a> </li> -->
                </ul>
            </div>

            <div class="menu-tablet d-xl-none col-lg-6 col-md-6 d-none d-md-flex d-lg-flex align-items-center justify-content-end">
                <div> 
                    <a href="#" class="font12 color1">
                        <i class="fas fa-map-marker-alt mr-2 color3"></i> <span>
                            info@sks.ru
                        </span>
                    </a>
                </div>
                <div class="ml-4 ">
                    <a href="#" class="font12 color1">
                        <i class="fas fa-phone mr-2 color3"></i> <span>
                            8 495 142 2868
                        </span>
                    </a>
                </div>
            </div>
            
            <div class=" col-2 col-sm-2 col-md-1 col-lg-1 d-xl-none align-items-center">
                <button class="menu-toggle btn"> <i class="fas fa-bars "></i></button>
            </div>

        </div>
    </div>
</header>
<!-- <nav class="nav d-none d-xl-block">
    <div class="container">
        <div class="d-none d-xl-flex align-items-center">
            <div class="col-xl-3 pl-0">
                <button class="btn catalog-btn w-100"><i class="fas fa-bars mr-2"></i> Каталог оборудования</button>
            </div>
            <div class="search col-xl-6 px-0">
                <input type="text" placeholder="Поиск" class="form-control search-input">
                <i class="fas fa-map-marker-alt "></i>
            </div>
            <div class="bascet-group font14 ml-auto col-xl-3 ">
                <a href="#" class="bascet-txt">
                    <i class="fas fa-map-marker-alt color3 mr-2"></i>
                    <span>Корзина (12) — 25 500 руб.</span>
                </a>
            </div>
        </div>
    </div>
</nav> -->