section.actii {
    padding-top: 80px;

    .page-title {
        margin-bottom: 60px;
    }

    .actii-txt {
        font-family: "Geometria", sans-serif;
        font-size: 36px;
        font-weight: 500;
        color: #ffffff;
        line-height: 1;

        @media (max-width: 1200px) {
            font-size: 12px;
            margin-bottom: 36px;
        }
    }

    .actii-item {
        display: flex;
        width: 100%;
        border-radius: 4px;
        padding: 36px 90px 55px;
        margin-bottom: 58px;
        background-image: linear-gradient(150deg, #55bbca, #2156a0);
        @media (max-width: 768px) {
            flex-direction: column;
            padding: 40px 20px;
            align-items: center;
            margin-bottom: 20px;
        }
    }
    li:not(:first-child){
        .actii-item{
            @media (min-width: 768px) and (max-width: 1200px) {
                flex-direction: column;
                padding: 48px;
                justify-content: center;
                align-items: center;

                .actii-icon{
                    margin-right: 0;
                    margin-bottom: 30px;
                }
                .btn {
                    margin-left: 0;
                    width: 100%;
                }
                .actii-info{
                    width: 100%;
                }
            }
        }
    }
    li:first-child{
        .actii-item{
            @media (min-width: 768px) and (max-width: 1200px) {
                margin-bottom: 30px;
                padding: 40px;

                
            }
        }
    }

    .actii-icon {
        width: 228px;
        height: 227px;
        margin-right: 61px;

        @media (max-width: 1200px) {
            width: 200px;
            height: 200px;
        }
        @media (max-width: 768px) {
           margin-right: 0;
           margin-bottom: 30px;

         }
    }

    .actii-info {
        display: flex;
        flex-direction: column;
        flex: auto;
        @media (max-width: 768px) {
           width: 100%;
        }

        .btn {
            width: 212px;
            background-color: #ffffff;
            @media (max-width: 768px) {
               width: 100%;
            }

        }
    }

    .actii-title {
        display: none;
        font-family: "Geometria", sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
        color: #ffffff;
        margin-bottom: 14px;

        @media (max-width: 1200px) {
            display: block;
        }
    }
}