ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
h1, h2, h3, h4{
    margin: 0;
}
p{
    margin: 0;
}
.font14{
  font-family: "Geometria",sans-serif;
  font-size: 14px;
}
.font-t-14{
    font-family: "Geometria",sans-serif;
  font-size: 14px;
  @media (max-width: 1200px) {
    font-size: 12px;
 }
}
.font-t-16{
    font-family: "Geometria",sans-serif;
  font-size: 16px;
  @media (max-width: 1200px) {
    font-size: 14px;
 }
}
.font-t-18{
    font-family: "Geometria",sans-serif;
  font-size: 18px;
  @media (max-width: 1200px) {
    font-size: 14px;
 }
}
.font12{
    font-size: 12px;
    line-height: 12px;
}
.font20{
    font-family: "Geometria",sans-serif;
    font-size: 20px;
    line-height: 1;
    @media (max-width: 1200px) {
        font-size: 14px;
     }
}
.z-12{
    z-index: 12;
}
.section-title{
    font-family: "Geometria",sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    line-height: 1;
    @media (max-width: 1200px) {
        font-size: 24px;
     }
}
.section-desc{
    font-family: "Geometria",sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #000000;
    @media (max-width: 1200px) {
        font-size: 12px;
     }
}
.page-title{
    font-family: "Geometria",sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    @media (max-width: 1200px) {
        font-size: 24px;
     }
}
.color1{
    color: #000000;
    &:hover{
        color: #000000;
    }
}
.color2{
    color: #0071bb;
}
.color3{
    color: #b2b2b2;
}
.color4{
    color: #ffffff;
    &:hover{
        color: #ffffff;
        text-decoration: none;
    }
}
a.font14{
    text-decoration: none;
}
.line14{
    line-height: 1.43;
}
.line1{
    line-height: 1;
}
.line14{
    line-height: 1.14;
}

.bg-color1{
    background-image: linear-gradient(150deg, #665adb 37%, #4c4cf7);
}

.flex-auto{
    flex: auto;
}
.bg-color2{
    background: transparent;
    &:hover, &:focus{
        background: transparent;
    }
}