section.contact {
    margin-top: 120px;
    margin-bottom: 90px;
    @media (max-width: 1200px) {
    margin-top: 70px;
    }
    .contact-content {
        @media (min-width: 1200px) {
            padding-right: 98px;
        }
        @media (min-width: 768px) and (max-width: 1200px) {
            padding-right: 73px;
        }
    }
    .contact-info {
        margin-top: 88px;
        @media (max-width: 1200px) {
            margin-top: 60px;
        }
        @media (max-width: 768px) {
           display: none;
        }
    }
    .contact-btn {
        width: 360px;
        height: 48px;
        @media (max-width: 768px) {
           width: 100%;
        }
    }
    .contact-textarea {
        height: 108px;
        border-color: #ececec;
    }
    .contact-input {
        height: 30px;
        border-radius: 15px;
        border-color: #ececec;
    }
    .contact-map{
        @media (max-width: 768px) {
            height: 298px;
        }

    }
}