 .form2{
    background-image: linear-gradient(150deg,#00b1c2,#004295);

     form.form-container{
        background-image:unset!important;
     }
    h1.section-title{
        @media (min-width: 1200px) {
            padding-right: 0!important;
            padding-left: 15px!important;
            min-width: 90%;
        }
    }

    div.img-container{
        @media (min-width: 1200px) {
            margin-top: 190px;
            align-items: flex-start;
        }
        @media (max-width: 1200px) and (min-width: 992px){
            margin-left: -110px;
            // margin-top: 190px;
            // align-items: center;
        }
        @media (max-width: 992px) and (min-width: 768px) {
            padding-top: 0;
            margin-left: -110px;
            margin-top: 190px;
        }

        .w-100{
            width: unset!important;
            display: flex;
        }
        img{
            width: 100%;
            height: 100%;;
        }
    }
 }
 
 section.form-1{
     form.form-container{
         @media (min-width: 1400px) {
             max-width: 490px;
         }
     }
     div.img-container{
        @media (min-width: 1400px) {
            max-width: 768px;
        }
     }
 }
 section.form-consultation{
    form.form-container{
        @media (min-width: 1400px) {
            max-width: 490px;
        }
    }
    div.img-container{
       @media (min-width: 1400px) {
           max-width: 768px;
       }
    }
}

.mix{
    @media (max-width: 768px) {
        .mix-social{
            div.d-flex{
                justify-content: space-between;
            }
        }
    }
}