.header {
    padding: 16px 0;

    @media (max-width: 1200px) {
        box-shadow: 0px 8px 7.4px 0.6px rgba(13, 13, 13, 0.06);
    }

    @media (min-width: 768px) and (max-width:1200px) {}


    .menu-info {
        padding-bottom: 16px;
    }

    .menu-nav {
        padding: 14px 0 0;
        border-top: 1px solid #dddddd;
    }

    .menu-nav-item {
        padding-left: 14px;
        padding-right: 16px;
        border-right: 1px solid #dddddd;
        line-height: 14px;

        &:last-child {
            border: none;
            margin-left: auto;
            padding-right: 0;
        }

        &:nth-child(6) {
            border: none;
        }

        &:first-child {
            padding-left: 0;
        }
    }

    .menu-nav-item-link {
        font-family: "Geometria", sans-serif;
        font-size: 14px;
        line-height: 14px;
        color: #000000;

        &:hover {
            text-decoration: none;
        }
    }
}

.nav {
    background-color: #0071bb;
    padding: 12px 0;
}

.catalog-btn {
    // width: 234px;
    height: 38px;
    border-radius: 4px;
    background-color: #00a9dd;
    color: #ffffff;
    // margin-right: 12px;

    i {
        color: #ffffff;
    }
}

.search-input {
    width: 100%;
    height: 38px;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 12px 24px 15px;
    font-size: 14px;
    font-family: "Geometria", sans-serif;
    font-weight: 300;
    color: #010101;
}

.search {
    position: relative;

    i {
        position: absolute;
        right: 0;
        bottom: 12px;
        right: 22px;
    }
}

.bascet-txt {
    font-family: "Geometria", sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    &:hover{
        color: #ffffff;
        text-decoration: none;
    }
}

.logo {
    .logo-link {
        font-family: "Geometria", sans-serif;
        font-size: 37px;
        font-weight: 900;
        line-height: 1.43;
        letter-spacing: 0.9px;
        color: #0071bb;
        text-transform: uppercase;

        @media (max-width: 1200px) {
            font-size: 28px;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.logo-desc {
    font-family: "Geometria", sans-serif;
    font-size: 14px;
    line-height: 1.14;
    color: #3e3e3e;

    @media  (max-width:1200px) {
        font-size: 12px;
    }
}

.menu-toggle {
    background: transparent;

}

.footer {
    background-color: #252d4b;
    padding: 70px 0;
    @media  (max-width:1200px) {
       padding: 47px 0;
    }
   
}

.footer-callback {
    border-color: #d3ecf4; 
    background-color: #252d4b;
    color: #ffffff;
    width: 163px;
    height: 38px;
}