section.one {
    padding: 95px 0 80px;

    @media (max-width: 1200px) {
        padding: 0;
        padding-bottom: 71px;
    }

    .one-info {
        background-color: #f8f8f8;
        border-left: 4px solid #00a9dd;
        padding: 34px 46px;
        z-index: 1200;

        @media (max-width: 1200px) {
            padding: unset;
            border: none;
            background: transparent;
        }
    }

    .one-img-container {
        @media (min-width: 1200px) {
            margin-left: -190px;
        }

        @media (max-width: 768px) {
            margin-bottom: 27px;
        }

        display: flex;
        justify-content: flex-end;

        @media (min-width: 768px) and (max-width: 1199.98px) {
            margin-left: 0;

        }
    }
}


section.service {

    .section-title {
        padding-bottom: 12px;
        border-bottom: 1px solid #dddddd;
    }

    .service-item-container {
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0px 2px 5.8px 0.2px rgba(13, 13, 13, 0.1);
        background-color: #ffffff;
        cursor: pointer;
        margin-bottom: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;

        @media (max-width: 768px) {
            padding: 18px;
            width: 100%;
            height: 160px;
        }

        &:hover {
            .service-action {
                display: flex;
            }

            box-shadow: 0px 5px 9.7px 0.3px rgba(13, 13, 13, 0.1);
        }
    }

    .service-txt {
        font-family: "Geometria", sans-serif;
        color: #facfac;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        color: #000000;

        @media (min-width: 1200px) {
            font-size: 14px;
        }
    }

    .top {
        display: flex;
        justify-content: space-between;
    }

    .service-action {
        display: none;
        flex-direction: column;

        .btn {
            background-color: transparent;
            border-color: #7fa6bf;
        }
    }
}


section.how {
    background-image: linear-gradient(150deg, #00b1c2, #004295);
    padding: 70px 0;

    @media (max-width: 1200px) {
        padding: 50px 0;
    }

    .how-icon-container {
        width: 303px;
        height: 303px;
        opacity: 0.2;
        margin-top: 70px;
    }

    .how-item {
        @media (min-width: 768px) and (max-width: 1200px) {
            display: flex;

            img {
                margin-right: 16px;
            }
        }
    }
}


section.two {
    padding: 90px 0;
}

section.works {
    .section-title {
        padding-bottom: 11px;
        border-bottom: 1px solid #c6c6c6;
        margin-bottom: 50px;
    }

    .slider-item {}
}

section.mix {
    position: relative;
    width: 100%;
    height: 461px;
    margin-bottom: 80px;

    @media (max-width: 768px) {
        margin-bottom: 0;
        height: auto;
    }

    .mix-social {
        position: absolute;
        padding-left: calc(50vw - 570px);
        padding-top: 72px;
        padding-bottom: 72px;
        left: 0;
        right: 40%;
        top: 0;
        bottom: 21px;
        background-image: linear-gradient(150deg, #00b1c2, #004295);

        @media (min-width: 768px) and (max-width: 1200px) {
            right: 50%;
            top: 0;
        }

        @media (min-width: 768px) and (max-width: 992px) {
            padding-left: calc(50vw - 360px);

        }

        @media (min-width: 992px) and (max-width: 1200px) {
            padding-left: calc(50vw - 480px);

        }

        @media (max-width: 768px) {
            padding-left: 15px;
            padding-right: 15px;
            position: static;
            img{
                width: 100%;
            }
        }

        @media (min-width: 576px) and (max-width: 768px) {
            padding-left: calc(50vw - 255px);
            padding-right: calc(50vw - 255px);
        }

    }

    .mix-img {
        position: absolute;
        right: 0;
        top: 20px;
        left: 44%;
        bottom: 0;

        @media (max-width: 768px) {
            display: none;
        }

        @media (min-width: 768px) and (max-width: 1200px) {
            left: 50%;
            top: 0;
            bottom: 21px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .mix-link {
        text-decoration-line: underline;
    }
}


.form-1 {
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: calc(50vw - 570px);


    .form-container {
        width: 41.6%;
        padding-right: 10px;
    }

    .textarea {
        height: 100px;
    }

    .input-file {
        position: absolute;
        left: 0;
        width: 100%;
        opacity: 0;
    }

    .btnform {
        width: 100%;
        height: 55px;
        margin-top: 50px;
    }

    .img-container {
        display: flex;
        flex: auto;
    }


    @media (min-width: 768px) and (max-width: 992px) {
        padding-left: calc(50vw - 360px);


    }

    @media (min-width: 992px) and (max-width: 1200px) {
        padding-left: calc(50vw - 480px);

    }

    @media (max-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;

        .img-container {
            display: none;
        }

        .form-container {
            width: 100%;
           padding-right: 15px;
        }
    }

    @media (min-width: 576px) and (max-width: 768px) {
        padding-left: calc(50vw - 255px);
        padding-right: calc(50vw - 255px);
    }
}

.form-consultation {
    overflow: hidden;
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: calc(50vw - 570px);

    .form-container {
        padding-right: 40px;
    }

    .img-container {
        display: flex;
        flex: auto;
    }

    .textarea {
        height: 100px;
    }

    .btnform {
        width: 100%;
        height: 55px;
        margin-top: 50px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
        padding-left: calc(50vw - 360px);

        .img-container {
            width: 50%;
        }
        .form-container {
            min-width: unset;
        }

    }

    @media (min-width: 992px) and (max-width: 1200px) {
        padding-left: calc(50vw - 480px);
        .img-container {
            width: 50%;
        }
        .form-container {
            min-width: unset;
        }

    }

    @media (max-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;

        .img-container {
            display: none;
        }

        .form-container {
            min-width: 50%;
           padding-right: 15px;
            width: 100%;
        }
    }

    @media (min-width: 576px) and (max-width: 768px) {
        padding-left: calc(50vw - 255px);
        padding-right: calc(50vw - 255px);
    }
}

.form2 {
    display: flex;

    .img-container {
        margin-left: -63px;
        display: flex;
        align-items: center;
        width: 100%;
        flex: auto;
        padding-right: calc(50vw - 570px);
    }

    .form-container {
        background-image: linear-gradient(150deg, #00b1c2, #004295);
        padding-top: 72px;
        padding-bottom: 80px;
        padding-left: calc(50vw - 570px);
        width: 55%;
        flex: none;
    }

    .btnform {
        width: 100%;
        height: 72px;
        background-color: #ffffff;
        color: #010101;
        font-weight: bold;
    }

    @media (min-width: 768px) and (max-width: 992px) {
        .form-container {
            padding-left: calc(50vw - 360px);
            width: 65%;
        }

        .img-container {
            padding-right: 0;
            padding-top: 72px;
            align-items: flex-start;
        }

    }

    @media (min-width: 992px) and (max-width: 1200px) {
        .form-container {
            padding-left: calc(50vw - 480px);
        }

        .img-container {
            padding-right: calc(50vw - 480px);
        }

    }

    @media (max-width: 768px) {
        .form-container {
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
        }

        .img-container {
            display: none;
        }
    }

    @media (min-width: 576px) and (max-width: 768px) {
        .form-container {
            padding-left: calc(50vw - 255px);
            padding-right: calc(50vw - 255px);
            width: 100%;
        }

        .img-container {
            display: none;
        }
    }
}

.form-calculator {
    padding-top: 100px;
    padding-bottom: 100px;

    .textarea {
        height: 80px;
    }

    .btnform {
        width: 100%;
        height: 71px;
        border-radius: 4px;
        background-image: linear-gradient(150deg, #5a41dc 37%, #4330ff);
        color: white;
    }

    .input-file {
        position: absolute;
        left: 0;
        width: 100%;
        opacity: 0;
    }

    .chek[type=checkbox]+label {
        display: flex;
        cursor: pointer;
    }

    .chek[type=checkbox] {
        display: none;
    }

    .chek[type=checkbox]+label:before {
        content: "\2714";
        border: 0.1em solid #dddddd;
        border-radius: 0.2em;
        display: flex;
        width: 20px;
        height: 20px;
        padding-left: 0.2em;
        margin-right: 12px;
        vertical-align: middle;
        color: transparent;
        transition: .2s;
        align-items: center;
    }

    .chek[type=checkbox]+label:active:before {
        transform: scale(0);
    }

    .chek[type=checkbox]:checked+label:before {
        color: #0072ff;
    }

    .chek[type=checkbox]:disabled+label:before {
        transform: scale(1);
        border-color: #aaa;
    }

    .chek[type=checkbox]:checked:disabled+label:before {
        transform: scale(1);
        background-color: #bfb;
        border-color: #bfb;
    }

}

.works {
    padding-bottom: 60px;
    .work-slider {
        
        .item{
            display: flex;
            align-items: center;
            flex-direction: column;
            @media (max-width: 768px) {
               padding-right: 21px;
                img{
                   width: 100%;
                   margin-bottom: 1.5rem;
                }
            }
            @media (min-width: 768px) and (max-width: 992px) {
               padding-right: 21px;
                img{
                    width: 100%;
                    margin-bottom: 1.5rem;
                }
            }
            
        }
        .dots-main {
            padding-top: 30px;
            position: relative;

            li {
                background-color: #a2a2a2;
                width: 12px;
                height: 12px;
                border-radius: 2px;

                &.slick-active {
                    width: 14px;
                    height: 14px;
                    border-radius: 2px;
                    background-color: #0072ff;
                }
            }
        }
    }
}
.comment{
    padding-bottom: 100px;
    overflow: hidden;
    .comment-slider{

        .item{
            display: flex;
            justify-content: center;

            @media (max-width: 768px) {
                flex-direction: column;
                img{
                    margin-left: 2rem;
                    margin-bottom: 1rem;
                }
            }
            @media (min-width: 768px) and (max-width: 992px) {
                flex-direction: column;
                img{
                    margin-left: 2rem;
                    margin-bottom: 1rem;
                }
            }
            img{
                height: inherit;
            }
            .over{
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: normal;
                text-align: left;
                color: #0072ff;
                text-decoration-line: underline;
            }
        }
        .dots-main {
            padding-top: 30px;
            position: relative;

            li {
                background-color: #a2a2a2;
                width: 12px;
                height: 12px;
                border-radius: 2px;

                &.slick-active {
                    width: 14px;
                    height: 14px;
                    border-radius: 2px;
                    background-color: #0072ff;
                    
                }
            }
        }
    }
}