section.shablon{
    width: 100%;
    display: flex;
    @media (min-width: 768px) and (max-width: 1200px) {
       margin-top: 70px;
       margin-bottom: 58px;
    }
    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }

    .shablon-img{
        width: 50%;
        min-width: 50%;
        height: auto;
        // @media (min-width: 768px) and (max-width: 1200px) {
        //     width: 40%;
        //     min-width: 40%;
        //  }
        @media (max-width: 768px) {
            width: 100%;
        min-width: 100%;
        }
    }
    .shablon-content{
        margin-right: 36px;
        padding-top: 32px;
        width: 100%;
        @media  (min-width: 1200px) {
            padding-left: calc(50vw - 570px);
        }
        @media (min-width: 768px) and (max-width: 992px) {
            padding-left: calc(50vw - 360px);
        }
        @media (min-width: 992px) and (max-width: 1200px) {
            padding-left: calc(50vw - 480px);
        }
        @media  (min-width: 576px) and (max-width: 768px) {
            padding-left: calc(50vw - 255px);
            padding-right: calc(50vw - 255px);
        }
        @media (max-width: 576px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        @media (max-width: 768px) {
          margin-bottom: 46px;
        margin-right: 0;
        }
    }
    .content-info{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.breadcrums{
    display: none;
    align-items: center;
    @media  (min-width: 1200px) {
        display: flex;
    }


    .breadcrums-link{
        font-family: "Geometria", sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.43;
        color: #000000;

        &:hover{
            text-decoration-line: underline;
            text-decoration-color: #717171;
        }
    }
}
.shablon-list{

    li:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        background-color: #c6c6c6;
        vertical-align: middle;
        margin-right: 6px;
        margin-left: -15px;
    }
}
.shablon-btn{
    min-width: 231px;
    height: 58px;
    border-radius: 4px;
    box-shadow: 0px 10px 15.2px 0.8px rgba(13, 13, 13, 0.42);
    background-image: linear-gradient(150deg, #5a41dc 37%, #4330ff);
    @media (max-width: 768px) {
        width: 100%;
      }
}