section.tarif {
    margin-top: 80px;
    margin-bottom: 80px;

    @media (max-width: 1200px) {
        .section-title {
            text-align: center;
        }

        .section-desc {
            text-align: center;
        }
    }

    .tarif-item {
        display: flex;
        height: 100%;
        flex-direction: column;
        padding: 50px 40px;
        border-radius: 4px;
        background-image: linear-gradient(150deg, #55bbca, #2156a0);

        @media (max-width: 1200px) {
            .section-title {
                text-align: left;
            }
        }
    }

    .tarif-item-list {
        margin-top: 34px;
        margin-bottom: 46px;

        li:before {
            content: "";
            display: inline-block;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            background-color: #85e4fd;
            vertical-align: middle;
            margin-right: 6px;
            margin-left: -10px;
        }
    }

    .tarif-btn {
        width: 100%;
        margin-top: auto;
        border-radius: 4px;
        background-color: #ffffff;
    }

}